settings.gradle
local.properties
gradlew
gradlew.bat
gradle.properties
build.gradle
.project
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
app/.DS_Store
app/src/.DS_Store
app/src/test/java/com/my/ctech/powersalespro/ExampleUnitTest.java
app/src/main/.DS_Store
app/src/main/java/com/my/ctech/.DS_Store
app/src/main/java/com/my/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/java/.DS_Store
.DS_Store
.settings/org.eclipse.buildship.core.prefs
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/gc.properties
.gradle/5.4.1/fileChanges/last-build.bin
